$main-content-background-color: hsl(31, 21%, 97%);
$body-margins-background-color: hsl(39, 21%, 90%);

$blog-post-hover-background-color: hsl(39, 16%, 88%);
$blog-post-border-color: hsl(39, 16%, 76%);
$blog-post-hover-border-color: hsl(30, 80%, 17%);

$tag-hover-background-color: hsl(38, 63%, 82%);
$tag-background-color: hsl(39, 16%, 88%);
$tag-hover-border-color: hsl(30, 80%, 17%);

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $body-margins-background-color;
}

.main-content {
  background-color: $main-content-background-color;
  padding: 0 16px 32px 8px;
}

.padded-content {
  padding: 16px;
}

.full-width-container {
  width: auto;
  margin-left: auto;
  margin-right: auto;

  .limited-width-container {
    max-width: 1440px;
  }
}

.full-width-container.limited-width-container,
.limited-width-container {
  max-width: 1440px;
}

.jump-to-main {
  background: #f5f6f7;
  border: 1px solid #d6dce0;
  display: block;
  left: -200vw;
  padding: 1px 8px;
  position: absolute;
  top: 0;
  z-index: -1;

  &:focus {
    left: 0;
    z-index: 10;
  }
}

.side-by-side-container {
  display: flex;
  justify-content: flex-start;

  @media screen and (max-width: 801px) {
    flex-direction: column;
  }
}

.stacked-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.pls {
  padding-left: 4px;
}

.centering-container {
  display: flex;
  justify-content: center;
}

.post-heading {
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    margin-bottom: 4px;
  }

  h4 {
    margin: 4px 0 4px 0;
  }
}

a {
  color: black;
  font-weight: 600;

  &:visited {
    color: black;
  }
}

.blog-listing {
  display: flex;

  @media screen and (max-width: 500px) {
    flex-direction: column;
  }
  @media screen and (min-width: 501px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .post-tile-container {
    padding: 8px;

    @media screen and (max-width: 800px) {
      padding: 2px 0 2px 0;
    }
  }

  .post-tile {
    display: flex;
    flex-direction: column;
    padding: 16px;
    transition: all 500ms;
    border-color: $blog-post-border-color;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;

    @media screen and (min-width: 501px) {
      max-width: 400px;
    }

    h3 {
      margin: 0;
      padding: 8px 0 8px 0;
    }

    small {
      font-weight: lighter;
      color: #3a3a3a;
    }

    p {
      margin-bottom: 0;
    }

    &:hover {
      background-color: $blog-post-hover-background-color;
      border-color: $blog-post-hover-border-color;
    }

    .preview-read-more {
      align-self: flex-end;
    }
  }
}

.text-image {
  position: relative;

  img {
    @media screen and (max-width: 555px) {
      min-height: 92px;
    }
  }

  .text-image-top-left {
    position: absolute;
    top: 24px;
    left: 16px;
    @media screen and (max-width: 801px) {
      top: 8px;
    }
  }
}

.extra-large {
  font-size: 28pt;

  @media screen and (max-width: 801px) {
    font-size: 20pt;
  }
  @media screen and (max-width: 555px) {
    font-size: 18pt;
  }
}

.blog-post-contents {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;

  @media screen and (max-width: 555px) {
    width: 100%;
  }

  img {
    display: block;
    width: 100%;
  }
}

.current-page {
  display: inline-block;
  border-width: 1px;
  border-color: darkgrey;
  border-radius: 2px;
  border-style: solid;
  background-color: linen;
  font-weight: bold;
}

.page-listing-title {
  text-align: center;
  margin: 0;
  padding: 16px 0 0 0;
}

.pages-listing,
.page-navigator {
  display: flex;
  list-style: none;
  justify-content: center;

  li {
    padding: 0 8px 0 8px;
  }
}

.post-tags {
  display: flex;
  list-style: none;
  justify-content: center;

  li {
    padding: 0 8px 0 8px;
  }

  a {
    background-color: $tag-background-color;
    border-radius: 5px;
    color: black;
    display: inline-block;
    font-size: smaller;
    font-weight: normal;
    padding: 0 8px 0 8px;
    text-decoration: none;
    transition: background-color 200ms;
  }

  li a:hover {
    background-color: $tag-hover-background-color;
    outline-color: $tag-hover-border-color;
    outline-style: solid;
    outline-width: 1px;
  }
}
