$main-content-background-color: hsl(31, 21%, 97%);
$body-margins-background-color: hsl(39, 21%, 90%);

$blog-post-hover-background-color: hsl(39, 16%, 88%);
$blog-post-border-color: hsl(39, 16%, 76%);
$blog-post-hover-border-color: hsl(30, 80%, 17%);

$tag-hover-background-color: hsl(38, 63%, 82%);
$tag-background-color: hsl(39, 16%, 88%);
$tag-hover-border-color: hsl(30, 80%, 17%);

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $body-margins-background-color;
}

.jump-to-main {
  background: #f5f6f7;
  border: 1px solid #d6dce0;
  display: block;
  left: -200vw;
  padding: 1px 8px;
  position: absolute;
  top: 0;
  z-index: -1;

  &:focus {
    left: 0;
    z-index: 10;
  }
}

.blog-post-contents {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;

  @media screen and (max-width: 555px) {
    width: 100%;
  }

  img {
    display: block;
    width: 100%;
  }
}

.current-page {
  display: inline-block;
  border-width: 1px;
  border-color: darkgrey;
  border-radius: 2px;
  border-style: solid;
  background-color: linen;
  font-weight: bold;
}
