$main-content-background-color: hsl(31, 21%, 97%);
$body-margins-background-color: hsl(39, 21%, 90%);

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $body-margins-background-color;
}

.jump-to-main {
  background: #f5f6f7;
  border: 1px solid #d6dce0;
  display: block;
  left: -200vw;
  padding: 1px 8px;
  position: absolute;
  top: 0;
  z-index: -1;

  &:focus {
    left: 0;
    z-index: 10;
  }
}
