$header-footer-background: hsl(39, 16%, 76%);
$nav-link-color: black;
$nav-link-hover-color: hsl(30, 80%, 17%);
$nav-link-hover-background-color: hsl(38, 63%, 82%);
$nav-link-hover-outline-color: hsl(30, 80%, 17%);

.site-header-title {
    margin: 8px 0 0 4px;
}

.site-header {
    background: $header-footer-background;
    margin: 0 auto;
    padding: 1.45rem 1.0875rem;
}

.site-header-logo-and-title {
    display: flex;
}

.site-navigation {
    ul {
        display: flex;

        @media screen and (max-width: 896px) {
        flex-direction: column;
        }
        
        list-style: none;
    }
    li {
        font-size: 24px;
        margin-right: 40px;
        display: inline-block;

        a {
            font-weight: normal;
            text-decoration: none;
            color: $nav-link-color;
            transition: all 200ms;
        }

        a:hover {
            color: $nav-link-hover-color;
            background-color: $nav-link-hover-background-color;
            outline-color: $nav-link-hover-outline-color;
            outline-style: solid;
            outline-width: 1px;
        }
    }
}